body {
    margin-top: 50px;
  }
  .calculator {
    max-width: 400px;
    margin: 0 auto;
  }
  .btn {
    width: 20%;
    margin: 5px;
  }
  .btn-primary {
    background-color: #007bff;
  }
  .btn-warning {
    background-color: #ffc107;
  }
  .btn-danger {
    background-color: #dc3545;
  }
  .btn-success {
    background-color: #28a745;
  }